<div class="main">ОБРАЗОВАТЕЛЬНЫЕ СТАНДАРТЫ</div>
<li class="nav-item">
  <button routerLink="standart"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о федеральных государственных образовательных стандартах с размещением их копий и (или) гиперссылки на соответствующие документы</button>
</li>
<li class="nav-item">
  <button routerLink="standarttwo"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация об образовательных стандартах с размещением их копий и (или) гиперссылки на соответствующие документы</button>
</li>

