<div class="main">СТИПЕНДИИ И ИНЫЕ ВИДЫ МАТЕРИАЛЬНОЙ ПОДДЕРЖКИ</div>
<li class="nav-item">
  <button routerLink="grant"
          class="m-1 btn btn-light btn-outline-primary" Button>ЛОКАЛЬНЫЕ НОРМАТИВНЫЕ АКТЫ, КОТОРЫМИ РЕГЛАМЕНТИРУЮТСЯ НАЛИЧИЕ И УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ СТИПЕНДИЙ</button>
</li>

<li class="nav-item">
  <button routerLink="grantinfo"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация об общежитиях и интернатах</button>
</li>

<li class="nav-item">
  <button routerLink="act"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего размер платы за пользование жилым помещением и коммунальные услуги в общежитии</button>
</li>

<li class="nav-item">
  <button routerLink="job"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация о трудоустройстве выпускников</button>
</li>
