<div class="main">МАТЕРИАЛЬНО-ТЕХНИЧЕСКОЕ ОБЕСПЕЧЕНИЕ И ОСНАЩЁННОСТЬ ОБРАЗОВАТЕЛЬНОГО ПРОЦЕССА</div>
<li class="nav-item">
  <button routerLink="svedorg"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о каждом месте осуществления образовательной деятельности</button>
</li>

<li class="nav-item">
  <button routerLink="facilits"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о наличии оборудованных учебных кабинетов</button>
</li>

<li class="nav-item">
  <button routerLink="objPracts"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о наличии объектов для проведения практических занятий</button>
</li>

<li class="nav-item">
  <button routerLink="librares"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения наличии библиотек</button>
</li>

<li class="nav-item">
  <button routerLink="sports"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о наличии объектов спорта</button>
</li>

<li class="nav-item">
  <button routerLink="meals"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения об условиях питания обучающихся</button>
</li>

<li class="nav-item">
  <button routerLink="healts"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения об условиях охраны здоровья обучающихся</button>
</li>
<!--  --------------------------------      МТО  (1 - 7 таблица)   ----------------------------------------------------    -->
<li class="nav-item">
  <button routerLink="one"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о наличии средств обучения и воспитания</button>
</li>

<li class="nav-item">
  <button routerLink="two"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям</button>
</li>

<li class="nav-item">
  <button routerLink="three"
          class="m-1 btn btn-light btn-outline-primary" Button>Наличие в образовательной организации электронной информационно-образовательной среды</button>
</li>

<li class="nav-item">
  <button routerLink="four"
          class="m-1 btn btn-light btn-outline-primary" Button>Количество собственных электронных образовательных и информационных ресурсов</button>
</li>

<li class="nav-item">
  <button routerLink="five"
          class="m-1 btn btn-light btn-outline-primary" Button>Количество сторонних электронных образовательных и информационных ресурсов</button>
</li>

<li class="nav-item">
  <button routerLink="six"
          class="m-1 btn btn-light btn-outline-primary" Button>Количество баз данных электронного каталога</button>
</li>

<li class="nav-item">
  <button routerLink="seven"
          class="m-1 btn btn-light btn-outline-primary" Button>Ссылки на перечень электронных образовательных ресурсов</button>
</li>
