  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="department"
                class="m-1 btn btn-light btn-outline-primary" Button>СТРУКТУРНЫЕ ПОДРАЗДЕЛЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="employee"
                class="m-1 btn btn-light btn-outline-primary" Button>ОСНОВНЫЕ СВЕДЕНИЯ</button>
      </li>
<!----------------------------------------------------------------------------------------->
      <li class="nav-item">
        <button routerLink="basicInformations"
                class="m-1 btn btn-light btn-outline-primary" Button>BASIC INFORMATIONS</button>
      </li>
<!----------------------------------------------------------------------------------------->
      <li class="nav-item">
        <button routerLink="uchred"
                class="m-1 btn btn-light btn-outline-primary" Button>УЧРЕДИТЕЛИ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="filiation"
                class="m-1 btn btn-light btn-outline-primary" Button>ФИЛИАЛЫ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="representation"
                class="m-1 btn btn-light btn-outline-primary" Button>ПРЕДСТАВИТЕЛЬСТВО ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="management"
                class="m-1 btn btn-light btn-outline-primary" Button>ОРГАНЫ УПРАВЛЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="volume"
                class="m-1 btn btn-light btn-outline-primary" Button>ФИНАНСОВО-ЭКОНОМИЧЕСКАЯ ДЕЯТЕЛЬНОСТЬ</button>
      </li>

      <li class="nav-item">
        <button routerLink="vac"
                class="m-1 btn btn-light btn-outline-primary" Button>ВАКАНТНЫЕ МЕСТА ДЛЯ ПРИЁМА (ПЕРЕВОДА)</button>
      </li>

      <li class="nav-item">
        <button routerLink="leader"
                class="m-1 btn btn-light btn-outline-primary" Button>ИНФОРМАЦИЯ ОБ АДМИНИСТРАЦИИ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ (РЕКТОР)</button>
      </li>

      <li class="nav-item">
        <button routerLink="leadersTwo"
                class="m-1 btn btn-light btn-outline-primary" Button>ИНФОРМАЦИЯ ОБ АДМИНИСТРАЦИИ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ (ЗАМЕСТИТЕЛИ)</button>
      </li>

      <li class="nav-item">
        <button routerLink="filialLeader"
                class="m-1 btn btn-light btn-outline-primary" Button>ИНФОРМАЦИЯ О РУКОВОДИТЕЛЯХ ФИЛИАЛОВ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="teacher"
                class="m-1 btn btn-light btn-outline-primary" Button>ИНФОРМАЦИЯ О ПЕРСОНАЛЬНОМ СОСТАВЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="standart"
                class="m-1 btn btn-light btn-outline-primary" Button>ОБРАЗОВАТЕЛЬНЫЕ СТАНДАРТЫ</button>
      </li>

      <li class="nav-item">
        <button routerLink="paid"
                class="m-1 btn btn-light btn-outline-primary" Button>ПЛАТНЫЕ ОБРАЗОВАТЕЛЬНЫЕ УСЛУГИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="dog"
                class="m-1 btn btn-light btn-outline-primary" Button>ИНФОРМАЦИЯ О ЗАКЛЮЧЕННЫХ И ПЛАНИРУЕМЫХ К ЗАКЛЮЧЕНИЮ ДОГОВОРАХ С ИНОСТРАННЫМИ И (ИЛИ) МЕЖДУНАРОДНЫМИ ОРГАНИЗАЦИЯМИ ПО ВОПРОСАМ ОБРАЗОВАНИЯ И НАУКИ</button>
      </li>

      <li class="nav-item">
        <button routerLink="accr"
                class="m-1 btn btn-light btn-outline-primary" Button>ИНФОРМАЦИЯ О МЕЖДУНАРОДНОЙ АККРЕДИТАЦИИ</button>
      </li>
<!--      ------------------------------------------- Доступная среда -------------------------------------------------        -->
      <li class="nav-item">
        <button routerLink="cab"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения о специально оборудованных учебных кабинетах</button>
      </li>

      <li class="nav-item">
        <button routerLink="prac"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения о приспособленных объектах для проведения практических занятий</button>
      </li>

      <li class="nav-item">
        <button routerLink="lib"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения о библиотеке(ах)</button>
      </li>

      <li class="nav-item">
        <button routerLink="sport"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения об объектах спорта</button>
      </li>

      <li class="nav-item">
        <button routerLink="meal"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения об условиях питания обучающихся</button>
      </li>

      <li class="nav-item">
        <button routerLink="health"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения об условиях охраны здоровья обучающихся</button>
      </li>

      <li class="nav-item">
        <button routerLink="ovz"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения</button>
      </li>

      <li class="nav-item">
        <button routerLink="link"
                class="m-1 btn btn-light btn-outline-primary" Button>Ссылки на перечень электронных образовательных ресурсов</button>
      </li>

      <li class="nav-item">
        <button routerLink="ovztwo"
                class="m-1 btn btn-light btn-outline-primary" Button>Сведения 2</button>
      </li>

      <li class="nav-item">
        <button routerLink="grant"
                class="m-1 btn btn-light btn-outline-primary" Button>ЛОКАЛЬНЫЕ НОРМАТИВНЫЕ АКТЫ, КОТОРЫМИ РЕГЛАМЕНТИРУЮТСЯ НАЛИЧИЕ И УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ СТИПЕНДИЙ</button>
      </li>

      <li class="nav-item">
        <button routerLink="grantinfo"
                class="m-1 btn btn-light btn-outline-primary" Button>Информация об общежитиях и интернатах</button>
      </li>

      <li class="nav-item">
        <button routerLink="act"
                class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего размер платы за пользование жилым помещением и коммунальные услуги в общежитии</button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
