<div style="text-align: center">
  <h1>
    Hello
  </h1>
  <input [(ngModel)]="input.username" placeholder="Username">
  <br>
  <input [(ngModel)]="input.password" placeholder="Password" type="password">
  <br>
  <button (click)="onRegister()"> Register User </button>
  <button (click)="onLogin()"> Login User </button>
</div>

<!--<nav class="navbar navbar-expand-sm bg-light navbar-dark">-->
<!--  <ul class="navbar-nav">-->

<!--    <app-osnovsveden> </app-osnovsveden>-->

<!--    <app-structandorgan> </app-structandorgan>-->

<!--    <app-documenti> </app-documenti>-->

<!--    <app-obrazovanie> </app-obrazovanie>-->

<!--    <app-obrazstandarts> </app-obrazstandarts>-->

<!--    <app-rucovodstvo> </app-rucovodstvo>-->

<!--    <app-mto> </app-mto>-->

<!--    <app-stipendi> </app-stipendi>-->

<!--    <app-platnobrazusl> </app-platnobrazusl>-->

<!--    <app-finecdeyatelnost> </app-finecdeyatelnost>-->

<!--    <app-vacantmest> </app-vacantmest>-->

<!--    <app-dostsreda> </app-dostsreda>-->

<!--    <app-megdunarodsotr> </app-megdunarodsotr>-->

<!--  </ul>-->
<!--</nav>-->

<router-outlet></router-outlet>
