<!--<div class="map">-->
<!--  <h1>Authorization</h1>-->
<!--  <div class="row">-->
<!--    <div class="col login-panel">-->
<!--      <label class="login">Login</label>-->
<!--      <label><input [(ngModel)]="input.username" placeholder="Username" type="text" class="input-map" aria-label="Username"> </label>-->

<!--      <label class="password">Password</label>-->
<!--      <label><input [(ngModel)]="input.password" placeholder="Password" class="input-map" type="password"> </label>-->

<!--    </div>-->
<!--  </div>-->
<!--  <label> <button class="glow-button" type="button" (click)="onLogin()">Confirm</button> </label>-->
<!--</div>-->


<!--<nav class="navbar navbar-expand-sm bg-light navbar-dark">-->
<!--  <ul class="navbar-nav">-->

<!--    <app-osnovsveden> </app-osnovsveden>-->

<!--    <app-structandorgan> </app-structandorgan>-->

<!--    <app-documenti> </app-documenti>-->

<!--    <app-obrazovanie> </app-obrazovanie>-->

<!--    <app-obrazstandarts> </app-obrazstandarts>-->

<!--    <app-rucovodstvo> </app-rucovodstvo>-->

<!--    <app-mto> </app-mto>-->

<!--    <app-stipendi> </app-stipendi>-->

<!--    <app-platnobrazusl> </app-platnobrazusl>-->

<!--    <app-finecdeyatelnost> </app-finecdeyatelnost>-->

<!--    <app-vacantmest> </app-vacantmest>-->

<!--    <app-dostsreda> </app-dostsreda>-->

<!--    <app-megdunarodsotr> </app-megdunarodsotr>-->

<!--  </ul>-->
<!--</nav>-->
<!--<app-login></app-login>-->
<!--<app-all></app-all>-->
<router-outlet></router-outlet>
