<div class="main">ОБРАЗОВАНИЕ</div>
<li class="nav-item">
  <button routerLink="gos"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация о реализуемых уровнях образования, о формах обучения</button>
</li>

<li class="nav-item">
  <button routerLink="prof"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о профессионально-общественной аккредитации образовательной программы (при наличии)</button>
</li>

<li class="nav-item">
  <button routerLink="inf"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация о численности обучающихся по реализуемым образовательным программам по источникам финансирования</button>
</li>

<li class="nav-item">
  <button routerLink="admis"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация о результатах приема</button>
</li>

<li class="nav-item">
  <button routerLink="perev"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация о результатах перевода, восстановления и отчисления</button>
</li>

<li class="nav-item">
  <button routerLink="obraz"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация об образовательной программе</button>
</li>

<li class="nav-item">
  <button routerLink="practices"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация об адаптированной образовательной программе</button>
</li>

<li class="nav-item">
  <button routerLink="sciencs"
          class="m-1 btn btn-light btn-outline-primary" Button>Информация о направлениях и результатах научной (научно-исследовательской) деятельности</button>
</li>
