<div class="main">12. ДОСТУПНАЯ СРЕДА</div>
<li class="nav-item">
  <button routerLink="cab"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о специально оборудованных учебных кабинетах</button>
</li>

<li class="nav-item">
  <button routerLink="prac"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о приспособленных объектах для проведения практических занятий</button>
</li>

<li class="nav-item">
  <button routerLink="lib"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения о библиотеке(ах)</button>
</li>

<li class="nav-item">
  <button routerLink="sport"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения об объектах спорта</button>
</li>

<li class="nav-item">
  <button routerLink="meal"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения об условиях питания обучающихся</button>
</li>

<li class="nav-item">
  <button routerLink="health"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения об условиях охраны здоровья обучающихся</button>
</li>

<li class="nav-item">
  <button routerLink="ovz"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения</button>
</li>

<li class="nav-item">
  <button routerLink="link"
          class="m-1 btn btn-light btn-outline-primary" Button>Ссылки на перечень электронных образовательных ресурсов</button>
</li>

<li class="nav-item">
  <button routerLink="ovztwo"
          class="m-1 btn btn-light btn-outline-primary" Button>Сведения 2</button>
</li>
