<div class="main">2. СТРУКТУРА И ОРГАНЫ УПРАВЛЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИЕЙ </div>
<!--<li class="nav-item">-->
<!--  <button routerLink="management"-->
<!--          class="m-1 btn btn-light btn-outline-primary" Button>ОРГАНЫ УПРАВЛЕНИЯ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>-->
<!--</li>-->

<li class="nav-item">
  <button routerLink="department"
          class="m-1 btn btn-light btn-outline-primary" Button> <span class="size">Информация о структуре и органах управления образовательной организацией</span> </button>
</li>
