<div class="d-flex flex-row bd-highlight mb-3">

  <div class="form-group" style="width: 60%;">

    <div class="row">
      <label class="col-form-label">Дата создания образовательной организации</label>
    </div>
      <div class="col">
        <input type="date" class="form-control" [(ngModel)]="BIregDate"
             placeholder="не заполнено">
      </div>

    <div class="row">
      <label class="col-form-label">Адрес местонахождения</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="BIaddress"
             placeholder="не заполнено">
    </div>

    <div class="row">
      <label class="col-form-label">Режим, график работы</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="BIworkTime"
             placeholder="не заполнено">
    </div>

    <div class="row">
      <label class="col-form-label">Контактные телефоны</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="BItelephone"
             placeholder="не заполнено">
    </div>

    <div class="row">
      <label class="col-form-label">Факсы</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="BIfaxes"
             placeholder="не заполнено">
    </div>

    <div class="row">
      <label class="col-form-label">Адреса электронной почты</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="BIemail"
             placeholder="не заполнено">
    </div>

    <div class="row">
      <label class="col-form-label">Сведения о каждом месте осуществления образовательной деятельности</label>
    </div>
    <div class="col">
      <div class="ml-3 bd-highlight" style="width: 40%;">
        <img [src]=PhotoFilePath>
        <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
      </div>
    </div>
  </div>
</div>


<button (click)="addBasicInformation()" *ngIf="base.BIid==0" class="btn btn-primary">
  Добавить
</button>

<button (click)="updateBasicInformation()" *ngIf="base.BIid!=0" class="btn btn-primary">
  Обновить
</button>
