<div class="main">ДОКУМЕНТЫ</div>
<li class="nav-item">
  <button routerLink="doca"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия устава образовательной организации</button>
</li>

<li class="nav-item">
  <button routerLink="docb"
          class="m-1 btn btn-light btn-outline-primary" Button>Лицензия на осуществление образовательной деятельности с приложениями</button>
</li>


<li class="nav-item">
  <button routerLink="docc"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия свидетельства о государственной аккредитации (с приложениями)</button>
</li>


<li class="nav-item">
  <button routerLink="docd"
          class="m-1 btn btn-light btn-outline-primary" Button><span class="hline">Копия плана финансово-хозяйственной деятельности образовательной организации</span></button>
</li>


<li class="nav-item">
  <button routerLink="doce"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего правила приема обучающихся</button>
</li>


<li class="nav-item">
  <button routerLink="docf"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего режим занятий обучающихся</button>
</li>


<li class="nav-item">
  <button routerLink="docg"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего формы, периодичность и порядок</button>
</li>


<li class="nav-item">
  <button routerLink="doch"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего порядок и основания перевода, отчисления и восстановления обучающихся</button>
</li>


<li class="nav-item">
  <button routerLink="doci"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия локального нормативного акта, регламентирующего порядок оформления возникновения</button>
</li>


<li class="nav-item">
  <button routerLink="docj"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия правил внутреннего распорядка обучающихся</button>
</li>


<li class="nav-item">
  <button routerLink="dock"
          class="m-1 btn btn-light btn-outline-primary" Button>Копия правил внутреннего трудового распорядка</button>
</li>


<li class="nav-item">
  <button routerLink="docl"
          class="m-1 btn btn-light btn-outline-primary" Button>Коллективный договор</button>
</li>


<li class="nav-item">
  <button routerLink="docm"
          class="m-1 btn btn-light btn-outline-primary" Button>Отчет о результатах самообследования</button>
</li>


<li class="nav-item">
  <button routerLink="docn"
          class="m-1 btn btn-light btn-outline-primary" Button>Документ о порядке оказания платных образовательных услуг</button>
</li>


<li class="nav-item">
  <button routerLink="doco"
          class="m-1 btn btn-light btn-outline-primary" Button>Документ об установлении размера платы, взимаемой с родителей</button>
</li>


<li class="nav-item">
  <button routerLink="docp"
          class="m-1 btn btn-light btn-outline-primary" Button>Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования</button>
</li>
