<div class="form-froup row">

  <div *ngFor="let key of Keys; let i = index" class="col-sm-10">
    <label class="col-sm-2 col-form-label">{{key}}</label>
    <label>
      <textarea *ngIf="Types[i] != 'file'" type="text" class="form-control size" [(ngModel)]="Values[i]" placeholder="Введите {{key}}"> </textarea>
    </label>
    <label *ngIf="Types[i] == 'file'" class="form-text">{{Values[i]}}</label>
    <input *ngIf="Types[i] == 'file'" type="file" (change)="uploadFile($event.target.files[0], i)">

  </div>
  <!--  <label class="col-sm-2 col-form-label">Файл</label>-->
  <!--  <input type="file" (change)="uploadFile($event.target.files[0])">-->
</div>

<button (click)="addPlat()" class="btn btn-primary ot">
  Add
</button>

<button (click)="updatePlat()" class="btn btn-primary ot">
  Update
</button>
