<div class="main">ОСНОВНЫЕ СВЕДЕНИЯ  </div>
<li class="nav-item">
  <button routerLink="employee"
          class="m-1 btn btn-light btn-outline-primary" Button>Основные сведения</button>
</li>
<!----------------------------------------------------------------------------------------->
<!--<li class="nav-item">-->
<!--  <button routerLink="basicInformations"-->
<!--          class="m-1 btn btn-light btn-outline-primary" Button>BASIC INFORMATIONS</button>-->
<!--</li>-->
<!----------------------------------------------------------------------------------------->
<li class="nav-item">
  <button routerLink="uchred"
          class="m-1 btn btn-light btn-outline-primary" Button><span class="size">Сведения о каждом учредителе образовательной организации</span></button>
</li>

<li class="nav-item">
  <button routerLink="filiation"
          class="m-1 btn btn-light btn-outline-primary" Button><span class="size">Сведения о каждом филиале образовательной организации (в том числе находящихся за пределами Российской Федерации)</span></button>
</li>

<li class="nav-item">
  <button routerLink="representation"
          class="m-1 btn btn-light btn-outline-primary" Button><span class="size">Сведения о каждом представительстве образовательной организации (в том числе находящихся за пределами Российской Федерации)</span></button>
</li>
