<div class="main">ОСНОВНЫЕ СВЕДЕНИЯ  </div>
<li class="nav-item">
  <button routerLink="employee"
          class="m-1 btn btn-light btn-outline-primary" Button>ОСНОВНЫЕ СВЕДЕНИЯ</button>
</li>
<!----------------------------------------------------------------------------------------->
<!--<li class="nav-item">-->
<!--  <button routerLink="basicInformations"-->
<!--          class="m-1 btn btn-light btn-outline-primary" Button>BASIC INFORMATIONS</button>-->
<!--</li>-->
<!----------------------------------------------------------------------------------------->
<li class="nav-item">
  <button routerLink="uchred"
          class="m-1 btn btn-light btn-outline-primary" Button>УЧРЕДИТЕЛИ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
</li>

<li class="nav-item">
  <button routerLink="filiation"
          class="m-1 btn btn-light btn-outline-primary" Button>ФИЛИАЛЫ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
</li>

<li class="nav-item">
  <button routerLink="representation"
          class="m-1 btn btn-light btn-outline-primary" Button>ПРЕДСТАВИТЕЛЬСТВО ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ</button>
</li>
